#!/usr/bin/env xdg-open
#
#Not guaranteed to work every where
#

[Desktop Entry]
Categories=Education;
Comment=Define things
Path=$PATH/../opt/definator
Exec=definator
Icon=definator
Name=Definator
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Desktop-File-Install-Version=0.22
